p {
    
    margin: 0px 2px;
}

.highlights{
    width: 100%;
}

#header_image{

    width: 100%;
    
}
body{
    margin: 0;
}

.highlights{
    display:inline-flex;
    align-items: center;
    width: 25%;
    min-width: 22%;
    padding: 0;
    margin: 0;
    height: auto;
}
