p {
    
    margin: 0px 2px;
}

.highlights{
    width: 100%;
}

#header_image{
    
    height: auto;
    max-height: 200px;
    width: 100%;
    
}
body{
    margin: 0;
}

.highlights{
    display: flex;
    flex-direction: row;
    width: 24.7%;
    min-width: 22%;
    padding: 0;
    margin: 0 0;
}
